// =================================================
//
// Layout
//
// =================================================

.content {
	@include media(medium) {
		padding-left: 250px;
	}

	@include media(large) {
		padding-left: 350px;
	}
}


// ====================================
// Two Column
// ====================================

.two-column {
	@include selfclear;

	@include media(medium) {
		.column {
			width: 45%;
			float: left;
		}
	}
}
