// =================================================
//
// Section
//
// =================================================

.section {
	padding: 40px 25px;

	@include media($medium) {
		padding: 70px 50px;
	}

	@include media($large) {
		padding: 70px;
	}


	h1, h2 {
		position: relative;
		z-index: 1;
		margin-left: -25px;

		@include media($medium) {
			margin-left: 0px;
		}
	}
}


// Alternate colored sections
.tan-section {
	background-color: $tan;
}
