// =================================================
//
// Colors
//
// =================================================

$blue:       #048ac9;
$teal:       #0aa88f;
$tan:        #f0f2ed;
$dark-grey:  #222222;
$grey:       #272a2f;
$light-grey: #3d4044;
$white:      #ffffff;
