// =================================================
//
// Colors
//
// =================================================

$blue       : #048ac9;
$teal       : #0aa88f;
$tan        : #f0f2ed;
$black      : #222222;
$grey       : #515761;
$dark-grey  : #3e434b;
$white      : #ffffff;


// ====================================
// Elements
// ====================================

// sections
$section-bg           : $white;
$section-bg-alt       : $tan;

// sidebar
$sidebar-bg           : $grey;
$sidebar-color        : $white;
$sidebar-profile-bg   : $dark-grey;

// nav
$nav-bg               : $grey;
$nav-bg-alt           : $grey;

// nav links
$nav-link-bg          : $grey;
$nav-link-color       : $white;
$nav-link-bg-hover    : $dark-grey;
$nav-link-color-hover : $white;
$nav-border-color     : $dark-grey;


// ====================================
// Typography
// ====================================

// h1
$h1-color         : $grey;
$h1-bg-color      : $grey;

// h2
$h2-color         : $grey;
$h2-bg-color      : $grey;

// h3
$h3-color         : $grey;

// h4
$h4-color         : $grey;

// p
$p-color          : $grey;

// links
$a-color          : $grey;
$a-bg-color       : $grey;
$a-color-hover    : $grey;
$a-bg-color-hover : $grey;
